#product-overview {
    background: linear-gradient(to top, rgba(80, 68, 18, 0.6) 10%, transparent),
    url("images/freedom.jpg") no-repeat center/cover border-box,
    #ff1b68;
    width: 100vw;
    height: 40vh;
    position: relative;
}

#product-overview h1 {
    color: white;
    font-family: 'Anton', sans-serif;
    position: absolute;
    bottom: 0;
    left: 5%;
    font-size: 1.6rem;
}

@media (min-width: 40rem) and (min-height: 40rem) {
    #product-overview {
        height: 50vh;
        background-position: 50% 25%;
    }

    #product-overview h1 {
        font-size: 3rem;
    }
}

.section-title {
    color: #2ddf5c;
    text-align: center;
}

.plan {
    background-color: #d5ffdc;
    text-align: center;
    padding: 1rem;
    margin: 0.5rem 0;
    width: 100%;
}

.plan--highlighted {
    background-color: #19b84c;
    color: white;
}

.plan__annotation {
    background-color: white;
    color: #19b84c;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
    padding: 0.5rem;
    border-radius: 8px;
}

.plan__title {
    color: #0e4f1f;
}

.plan__price {
    color: #858585;
}

.plan--highlighted .plan__title {
    color: white;
}

.plan--highlighted .plan__price {
    color: #0e4f1f;
}

.plan__features {
    list-style: none;
    padding: 0;
    margin: 0;
}

.plan__feature {
    margin: 0.5rem 0;
}

@media (min-width: 40rem) {
    .plan__list {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: baseline;
    }

    .plan {
        width: 30%;
        min-width: 12.8rem;
        max-width: 25rem;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        height: 28rem;
    }

    .plan--highlighted {
        box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.5);
        z-index: 1;
        height: 30rem;
    }

    .plan__annotation {
        padding: 0.3rem;
    }
}

#key-features {
    background-color: #ff1b68;
    margin-top: 5rem;
    padding: 1rem;
}

#key-features .section-title {
    color: white;
    margin: 2rem;
}

.key-feature__list {
    list-style: none;
    margin: 0;
    padding: 0;
}

.key-feature__image {
    background-color: #ffcede;
    width: 128px;
    height: 128px;
    border: 2px solid #424242;
    border-radius: 50%;
    margin: auto;
    padding: 1.25rem;
}

.key-feature__description {
    text-align: center;
    font-weight: bold;
    color: white;
    font-size: 1.25rem;
}

@media (min-width: 40rem) {
    .key-feature__list {
        display: flex;
        justify-content: center;
    }

    .key-feature {
        width: 30%;
        max-width: 25rem;
    }
}

.modal {
    position: fixed;
    display: none;
    z-index: 200;
    top: 30%;
    left: 25%;
    width: 50%;
    background: white;
    padding: 1rem;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.modal__title {
    text-align: center;
    margin: 0 0 1rem 0;
    font-size: 1rem;
}

.modal__actions {
    display: flex;
    justify-content: center;
}

.modal__action {
    border: 1px solid #0e4f1f;
    background: #0e4f1f;
    text-decoration: none;
    color: white;
    font: inherit;
    padding: 0.5rem 1rem;
    cursor: pointer;
    width: 4rem;
    margin: 0 0.5rem;
}

.modal__action:hover,
.modal__action:active {
    background: #2ddf5c;
    border-color: #2ddf5c;
}

.modal__action--negative {
    background: red;
    border-color: red;
}

.modal__action--negative:hover,
.modal__action--negative:active {
    background: #ff5454;
    border-color: #ff5454;
}

@media (min-width: 40rem) {
    .modal {
        top: 20%;
        left: 30%;
        width: 40%;
    }

    .modal__title {
        font-size: 2rem;
    }

    .modal__action {
        margin: 0 1rem;
    }
}
