body {
    min-height:100%;
    height:auto;
}

main {
    padding-top: 2.5rem;
}

.testimonial {
    font-size: 1.25rem;
}

.testimonial__image-container {
    width: 60%;
    max-width: 40rem;
    transform: skewX(20deg);
    overflow: hidden;
    margin: auto;
}

#customer-1:hover .testimonial__image-container,
#customer-2:hover .testimonial__image-container {
    animation: flip-customer 1.5s forwards ease-out;
}

#customer-1 .testimonial__image-container {
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.3);
}

#customer-2 .testimonial__image-container {
    box-shadow: -3px 3px 3px rgba(0, 0, 0, 0.3);
}

.testimonial__image {
    width: 100%;
    vertical-align: middle;
    transform: skewX(-20deg) scale(1.3);
}

.testimonial__info {
    text-align: right;
    padding: 0.875rem;
}

#customer-2.testimonial {
    text-align: right;
}

#customer-2 .testimonial__info {
    text-align: left;
}

.testimonial__name {
    margin: 0.25rem;
    color: #ff5454;
    font-size: 2rem;
}

.testimonial__subtitle {
    margin: 0;
    font-size: 1.125rem;
    color: #ccc;
}

.testimonial__subtitle a {
    color: inherit;
    text-decoration: none;
}

.testimonial__subtitle a:hover,
.testimonial__subtitle a:active {
    color: #7a7a7a;
}

.testimonial__text {
    margin: 0.1875rem;
}

@media (min-width: 40rem) {
    .testimonial:first-of-type {
        margin-top: 0;
    }

    .testimonial {
        margin: 3rem auto;
        max-width: 90rem;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .testimonial__image-container {
        width: 65%;
    }

    .testimonial__info {
        width: 30%;
    }
}

@keyframes flip-customer {
    0% {
        transform: rotateY(0) skew(20deg);
    }
    50% {
        transform: rotateY(160deg) skew(20deg);
    }
    100% {
        transform: rotateY(360deg) skew(20deg);
    }
}